// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}
body {
  background-color: grey;
}
/* Padding below the footer and lighter body text */
.aside {
  color: black;
  height: 100vh;
  background-color: lavender;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  background-color: #153d77;
  height: 50px;
}
.header .at {
  font-size: 16px;
  margin-top: -31px;
  margin-left: 50px;
  color: #fff;
}
.header img {
  height: 30px;
  width: 30px;
  margin-left: 14px;
  margin-top: 10px;
}
.navigation {
  background-color: lavender;
}
.sidebar-user {
  background: #fff;
  color: #161618;
  padding: 1.5rem 1rem 1rem;
  text-align: center;
}
.sidebar-user img {
  height: 40px;
  width: 40px;
}
.nav-style-1 {
  color: black;
  .nav-item {
    color: rgb(17, 17, 17);
    .nav-link,
    .nav-link:hover {
      color: black;
      background: lavender;
    }
    .nav-link.active,
    .nav-link:hover {
      color: black;
      background: grey;
    }
  }
}
.nav-link i {
  margin-right: 10px;
  color: #153d77;
}
.main-section {
  padding-left: 220px;
}
.main-section .row {
  color: #fff;
  padding-left: 10px;
}
.main-section .col {
  margin-left: 20px;
}
.main-section .col i {
  margin-left: 10px;
  display: inline-block;
  margin-top: 20px;
  color: black;
}
header {
  background: #153d77;
  min-height: 130px;
  border-bottom: solid 1px #050505;
}
.page-title-section {
  background-color: #0f0f0f;
  border-bottom: solid 1px #141414;
  .page-title {
    color: rgb(245, 239, 239);
    text-align: center;
  }
}
.page-content-section {
  padding: 20px 0;
}
.card-type-1 {
  color: black;
  border-radius: 20px;
  .card-header {
    color: rgb(12, 12, 11);
    h4 {
      color: #141414;
      text-align: center;
    }
  }
  .card-body {
    color: rgb(15, 15, 14);
  }
}

.form-control {
  appearance: none;
  display: block;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.25rem 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
.form-control-lite {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  margin-left: 29px;
  margin-top: -29px;
}
.btn-primary {
  color: #fff;
  background-color: #153d77;
  border-color: #153d77;
}
.btn-primary-1 {
  color: #fff;
  background-color: #153d77;
  border-color: #153d77;
}
.table i {
  margin-right: 4px;
}
.dropdown-1 {
  color: #0f0f0f;
  .dropdown-toggle {
    color: none;
    white-space: nowrap;
    color: black;
    background: transparent;
    margin: 8px 15px;
    border: none;
    img {
      width: 32px;
      border-radius: 20%;
    }
    &:after {
      display: none;
    }
    &:focus,
    &:hover {
      background-color: #153d77;
    }
  }
}
.dropdown-menu {
  border: none;
  padding: 0;
  li {
    .dropdown-item {
      color: rgb(12, 12, 11);
      border-bottom: solid 1px grey;
      padding: 10px 10px;
    }
  }
}

.nav-style-2 {
  color: #0f0f0f;
  .nav-item {
  }
  .nav-link-2 {
    margin: 8px 15px;
    border: none;
    img {
      width: 32px;
      border-radius: 20%;
    }
  }
}
.nav-link-2 i {
  margin-right: 5px;
  color: #153d77;
}
.nav-item .dropdown-1 i {
  color: #f9fafd;
}
.nav-item .dropdown-1 .dropdown-menu i {
  color: #0d0d0e;
}
.nav-item .dropdown-1 .dropdown-item .dropdown-menu a {
  margin-left: 1px;
}
.btn-primary-2{
  color: rgb(10, 10, 10);
  background-color: white;
  border-color: #0d0d0e;
  margin-left: 35px;
  margin-top: 12px;
}
.dropdown-1 .dropdown-menu{
  li{
    .dropdown-item{
      i {
        margin-right: 12px;
        color: #121213;
      }
    }
  }
}
.dropdown-2{
  color: white;
  margin: 28px 16px;
  .dropdown-toggle {
    color: none;
    white-space: nowrap;
    color: white;
    background: transparent;
    border: none;
    border-color: #153d77;
}
}
.page-content-section-1 {
  padding: 20px 0;
}
.card-type-2 {
  color: black;
  border-radius: 10px;
  margin-top: 8px;
  .card-header-2 {
    color: rgb(12, 12, 11);
    h4 {
      color: #141414;
      text-align: center;
    }
  }
  .card-body-2 {
    color: rgb(15, 15, 14);
  }
}
.main-section .row-2 {
  color: #fff;
  padding-left: 10px;
}
.pagination{
  justify-content: center;
}
.card-type-2 .card-body-2 .card-header-2 .box{
  width: 100%;
}
.card-type-2 .card-body-2 .card-header-2 .box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  height: 160px;
  color: #fff;
}

.card-type-2 .card-body-2 .card-header-2 .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}


