// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}
body{
  background-color: grey;
}
/* Padding below the footer and lighter body text */
.aside{
  color:black;
  height: 100vh;
  background-color: lavender;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}

.header{
  background-color: #012863;
  height: 50px;
}
.header .at {
  font-size: 16px;
  margin-top: -31px;
  margin-left: 50px;
  color: #fff;
}
.header img{
  height: 30px;
  width: 30px;
  margin-left: 14px;
  margin-top: 10px;
}
.navigation{
  background-color: lavender;
}
.sidebar-user {
  background: #fff;
  color: #161618;
  padding: 1.5rem 1rem 1rem;
  text-align: center;
}
.sidebar-user img{
  height: 40px;
  width: 40px;
}
.nav-style-1{
  color: black;
  .nav-item{
    color: rgb(17, 17, 17);
    .nav-link,
    .nav-link:hover{
      color: black;
      background: lavender;
    }
    .nav-link.active,
    .nav-link:hover{
      color: black;
      background: grey;
    }
  }
}
.nav-link i{
  margin-right: 5px;
  color: #012863;
}
.main-section{
  padding-left: 200px;
}
.main-section .row{
  color: #fff;
}
.main-section .col{
  margin-left: 20px;
}
.main-section .col i{
  margin-left: 10px;
  display: inline-block;
  margin-top: 10px;
}
header{
  background: #012863;
  min-height: 130px;
  border-bottom: solid 1px #dce469;
}
.page-title-section{
  background-color: #0f0f0f;
  border-bottom: solid 1px #141414;
  .page-title{
    color: rgb(245, 239, 239);
    text-align: center;
  }
} 
.page-content-section{
  padding: 20px 0;
}
.card-type-1{
  color: black;
  border-radius: 20px;
  .card-header{
    color: rgb(12, 12, 11);
    h4{
     color: #141414; 
     text-align: center;
    }
  }
  .card-body{
    color: rgb(15, 15, 14);
  }
}
.form-control-lite {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  margin-left: 29px;
  margin-top: -29px;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary-1 {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.table i{
  margin-right: 4px;
}